<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style_settings.css">
<link rel="icon" type="image/x-icon" href=".\assets\favicon.ico">
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src='/theme.js' defer></script>
<script src='/time.js' defer></script>
<title>UP AGENDA | Paramètres</title>
</head> 
<body>
<div class="wrapper">
<div class="menu-toggle">
<div class="hamburger">
<span></span>
</div>
</div>
<div class="container container-left">
<div class="header">
<p>
<a href="/welcome"><p>
<span id="logo_blanc">UP</span>
<span id="logo_violet">AGENDA</span>
</a>
<div class="row">
<div class="col-sm-12" id="heure"></div>
</div>
<div class="row">
<div class="col-sm-12" id="date"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</p>
</div>
<br>
<div class="btn-new-task">
<a href="/creationTache" id="ajouter_une_tache" name="ajouter_une_tache" class="btn-new-task">
Ajouter un événement
</a>
</div>
<aside class="sidebar">
<nav class="menu">
<div class="item-menu" id="first">
<i class="fa fa-calendar" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/">Calendrier</a>
</div>
<div class="item-menu">
<i class="fa fa-tasks" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/evenements">Toutes les tâches</a>
</div>
<div class="item-menu">
<i class="fa fa-calendar-check-o" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/todo">To-do list</a>
</div>
<div class="item-menu">
<i class="fa fa-clock-o" style="font-size:40px; color:rgb(94, 129, 244)"></i>
<a href="/rendezVous">Horaires libres</a>
</div>
<div class="item-menu">
<i class="fa fa-users" style="font-size:30px; color:rgb(94, 129, 244)"></i>
<a href="/recherche">Autres utilisateurs</a>
</div>
<div class="item-menu">
<i class="fa fa-gear" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/settings" class="color-purple">Paramètres</a>
</div>
<div class="item-menu">
<i class="fa fa-sign-out" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/api/user/logout">Déconnexion</a>
</div>
</nav>
</aside>
</div>
<div class="container container-middle">
<div class="middle">
<div class="middle-header">
<h2 class="middle-header-title">Les paramètres</h2>
</div>
<div class="middle-body">
<a href="/settings/personal"><ion-icon name="settings-outline" style="font-size:25px;"></ion-icon>&nbsp;Paramètres du compte</a>
<a href="/settings/opinion"><ion-icon name="chatbox-ellipses-outline" style="font-size:25px;"></ion-icon>&nbsp;Avis et commentaires</a>
<a href="/settings/AboutUs"><ion-icon name="mail-outline" style="font-size:25px;"></ion-icon>&nbsp;Nous contacter</a>
</div>
</div>
</div>
</div>
</body>
</html>
